@import url('https://fonts.cdnfonts.com/css/star-wars');

@font-face {
    font-family: "Star Wars";
    src: url("../styles/fonts/Star Wars.ttf") format('truetype');
  }

.btn-SW {
    background-color: #FFE81F;
    margin-right: 5px;
    margin-left: 5px;
    font-family: "Star Wars",  sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 8px;
}

.btn-SW:hover {
    border: 1px solid black;
}

.btn-SW-S {
    background-color: #FFE81F;
    margin-right: 5px;
    margin-left: 5px;
    font-family: "Star Wars",  sans-serif;
    font-size: 12px;
    text-align: center;
    padding-top: 6px;
}

.btn-SW-S:hover {
    border: 1px solid black;
}